#contentPageAbout{
  height:100vh;
  background:url(../../assets/About-banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  backdrop-filter: blur(10px);
}

.titleAbout{
  color: rebeccapurple;
}

#contentSection2{
  height: 100vh;
  width: 100%;
}