#contentPageAbout{
  margin-top: 10vh;
  height: 100vh;
  background:url(../../assets/About-banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.titleAbout{
  color: rebeccapurple;
}

#contentSection2{
  height: 100vh;
  width: 100%;
}