@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

#contentContactPage{
  font-family: Poppins;
  margin-top: 20vh;
  display: flex;
  align-items: center;
}

.textContent{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

#keyColor{
  color: #c36ef8;
  font-size: 3.5rem;
  font-weight: bold;
}

#contactColor{
  font-size: 3rem;
  font-weight: 500;
  color: #f8f8f8;
}

#textContactPage{
  font-size: 1.9rem;
  color: white;
  text-align: justify;
  margin: 3% 12%;
}

.contentInformations{
  width: 80%;
  padding-top: 1rem;
  margin: auto;
  display:flex;
  align-items: center;
  justify-content: space-around;
}

.animationPointer{
  pointer-events: none;
}


.btnSwitch{
  border-radius: 20px;
  width: 100px;
  height:100px;
  border: none;


  display: flex;
  align-items: center;
  justify-content: center;
}



/* Efeitos Fade IN */

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; } 
  }
  @-moz-keyframes fadeIn {
  0% { opacity: 0;}
  100% { opacity: 1; }
  }
  @-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
  }
  @keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
  }

  #fadeIn {
    -webkit-animation: fadeIn 2s ease-in-out;
    -moz-animation: fadeIn 2s ease-in-out;
    -o-animation: fadeIn 2s ease-in-out;
    animation: fadeIn 2s ease-in-out;
    }