@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

#homeContentPage{
  font-family: 'Poppins', sans-serif;
  background-color: rgb(0, 0, 0);
  height: 100vh;
  width: 100%;
}

#contentPageHome{
  line-height: 2.5rem;
  margin-top: 40vh;
}

#titleHomePage{
  color: white;
  font-size: 32px;
}
#subTitleHomePage{
  color: white;
  margin-right: 0.8rem;
  font-size: 3.5rem;
  font-weight: bold;
}

#nameHomePage{
  color: #A020F0;
  font-size: 3.5rem;
  font-weight: bold;
}

.displayNameHome{
  display: flex;
  align-items:center;
}

#descriptionHomePage{
  color: white;
  font-size: 32px;
  margin-right: 1rem;
}

#functionHomePage{
  font-size: 3rem;
  color: white;
}

.contentAnimationHomepage{
  margin-top: 20vh;
}

/* Efeitos Fade IN */

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; } 
  }
  @-moz-keyframes fadeIn {
  0% { opacity: 0;}
  100% { opacity: 1; }
  }
  @-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
  }
  @keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
  }

  #fadeIn {
    -webkit-animation: fadeIn 2s ease-in-out;
    -moz-animation: fadeIn 2s ease-in-out;
    -o-animation: fadeIn 2s ease-in-out;
    animation: fadeIn 2s ease-in-out;
    }